<h1>Burgers!</h1>

<h2>Burgers that are not devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">TIME TO EAT!</button>
        </form>

        <form action="/{{this.id}}?_method=DELETE" method="POST">
          <!-- option 2, pass in the id of the cat inside the form - you would access this in the route using req.body.id not req.params.id -->
          <!-- <input type="hidden" name="id" value="{{this.id}}"> -->
          <button type="submit">DELETE</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">WAKE UP!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Awake
  </div>

  <button type="submit">Add Burger</button>
</form>
